<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="4.9.0" targetFramework="net461" />
  <package id="GenFu" version="1.0.4" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net461" />
  <package id="RabbitMQ.Client" version="3.6.1" targetFramework="net461" />
  <package id="ShopAtHome.MessageQueue" version="1.2.0.0" targetFramework="net461" />
  <package id="ShopAtHome.MessageQueue.Consumers" version="1.2.0.0" targetFramework="net461" />
  <package id="ShopAtHome.UnitTestHelper" version="1.0.5.0" targetFramework="net461" />
</packages>